
{% extends "base.html" %}

{% block titulo%}
 -Inicial
{% endblock%}

{% block conteudo %}

    <h1>Bem-vindo ao meu sistema!</h1>
    <p>
        <a href="/pecas/cadastrar">Cadastrar Peças</a>
    </p>
    
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Quantidade</td>
                <td>Valor</td>
                <td>Editar</td>
                <td>Excluir</td>
            </tr>
        </thead>
        <tbody> 
            {%for item in lista%}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.quantidade}}</td>
                <td>{{item.valor}}</td>
                <td><a href="/pecas/editar/{{item.id}}">Editar</a></td>
                <td><a href="/pecas/excluir/{{item.id}}">Excluir</a></td>
            </tr>
            {% endfor %}

        </tbody> 
    </table>

{% endblock%}