{% extends "base.html" %}

{% block titulo %}
  - Inicial
{% endblock %}


{% block conteudo %}
    <h1>Bem vindo ao meu sistema de peças</h1>
  <a href="/usuario/cadastrar">Cadastrar Usuário</a>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Nome</td>
          <td>Email</td>
          <td>Editar</td>
          <td>Excluir</td>
        </tr>
      </thead>
      <tbody>
        {% for item in lista %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.nome }}</td>
          <td>{{ item.email }}</td>
          <td><a href="/usuario/editar/{{ item.id }}"> Editar </a></td>
          <td><a href="/usuario/excluir/{{ item.id }}"> Excluir </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}